.inline {
    display: inline-block;
}

.progressBar {
    border: 1px solid;
    position: relative;
}

.progressBarFg {
    background: #808080;
    height: 100%;
}

.progressBarText {
    background: rgba(255, 255, 255, 0);
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    text-align: center;
    vertical-align: middle;
}

.button {
    border: 2px outset;
    border-radius: 5px;
    text-align: center;
}

.button:active {
    border-style: inset;
}

.button:hover {
    background: #C0C0C0;
}

.buttonSelected {
    background: #D0D0D0;
}

.descBox {
    width: 100%;
    flex-grow: 1;
    overflow: auto;
}

.treeBox {
    width: 100%;
    flex-grow: 1;
    overflow: auto;
    border-width: 1px 0px;
    border-style: solid;
    margin: 0px 0px -2px 0px;
}

.flavorProfile {
    border: 1px solid;
    font-size: 60%;
}

.flavorProfile td {
    width: 40px;
}

.flavorBar {
    height: 7px;
    background: #808080;
}

#mainFrame {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    display: flex;
}

#hudBar {
    height: 100%;
    display: flex;
    flex-direction: column;
}

#statBlock {
    width: 100%;
    border: 1px solid;
    padding: 1px;
}

#navBar {
    flex-grow: 1;
    width: 100%;
    border-width: 0px 1px 1px 1px;
    border-style: solid;
    padding: 1px;
}

#mainPanes {
    position: relative;
    margin-left: 3px;
    flex-grow: 1;
    border: 1px solid;
}

.mainPane {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

.splitPane {
    display: flex;
    flex-direction: column;
}

.splitPaneItemsRegion {
    flex: 1 1 50%;
    display: flex;
    max-height: 50%;
}

.splitPaneItemsTreeRegion {
    border: 1px solid;
    margin: -1px -1px 0px -1px;
    padding: 1px;
    min-width: 200px;
    display: flex;
    flex-direction: column;
}

.splitPaneItemsTreeChildren {
    margin-left: 1em;
}

.splitPaneItemInfoRegion {
    border: 1px solid;
    margin: -1px -1px 0px 0px;
    padding: 1px;
    flex-grow: 1;
    display: flex;
    flex-direction: column;
}

.splitPaneItemDetailsRegion {
    width: 100%;
    display: flex;
}

.splitPaneItemTextDetails {
    flex-grow: 1;
}

.itemNameBox {
    font-weight: bold;
}

.splitPaneUnlocksRegion {
    flex: 1 1 50%;
    display: flex;
    max-height: 50%;
}

.splitPaneUnlocksPart {
    position: relative;
    margin: -1px;
    flex: 1 1 50%;
    border-width: 1px 1px 1px 0px;
    border-style: solid;
    padding: 1px 1px 1px 3px;
    display: flex;
    flex-direction: column;
}

.splitBottomProgressBar {
    height: 7px;
    left: 0;
    right: 2px;
}
